.episode {
    clear: both;
    margin-bottom: 20px;
    
    .tags {
        clear: both;
        height: 30px;
        margin: 0 0 0 90px;
    }
    
    .tag {
        padding: 4px 4px 4px 25px;
        border: solid 1px #ccc;
        background-color: #efefef;
        background-image: url(../images/tag.png);
        background-repeat: no-repeat;
        background-position: 4px 4px;
        display: block;
        float: left;
        margin: 0 7px 0 0;
    }   
    
    .box {
        float: left;
        width: 64px;
        height: 64px;
        background: @brand_color;
        padding: 6px;
        color: #fff;
        text-align: center;
        margin-right:15px;
        
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-topright: 7px;
        -moz-border-radius-bottomleft: 7px;
        -moz-border-radius-bottomright: 7px;

        -webkit-border-top-left-radius: 7px;
        -webkit-border-top-right-radius: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -webkit-border-bottom-right-radius: 7px;
        
        .number {
            font-size: 24px;
        }
        
        .date {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}