html {
    background: #efefef;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Arial, Helvetica;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 3px;
}

h1, h2, h3 {
    color: #871500;
    margin-top: 0;
}

h2 a, h2 a:visited {
    color: #871500;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

form {
    label.field {
        display: block;
        float: left;
        width: 120px;
    }   
    
    label.error {
        color: #ff0000;
        margin-left: 5px;
    }
    
    em {
        color: #ff0000;    
    } 
    
    input[type='text'], input[type='password'], textarea {
        width: 300px;
        padding: 5px;   
    }
    
    textarea {
        height: 300px;    
    }
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.flash-error, .flash-notice, .flash-success {
    padding: 10px 10px 10px 27px;
    font-weight: bold;
    
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

.flash-error {
    color: #ff0000;
    border: solid 1px #ff0000;
    background: #FFD3DB url(../images/error.png) no-repeat 7px 10px;
}

.flash-notice {
    color: #000;
    border: solid 1px #FFB900;
    background: #FEFFBF url(../images/notice.png) no-repeat 7px 10px;
}

.flash-success {
    color: #051;
    border: solid 1px #051;
    background: #B3EFBF url(../images/success.png) no-repeat 7px 10px;
}