#header {
    background-image: url(../images/header.gif);
    background-repeat: no-repeat;
    height: 105px;
    cursor: pointer;
    
    #submit-cast {
        float: right;
        margin: 15px 25px 0 0;
    }
}