#page {
    width: 950px;
    margin: auto;
    padding: 0px;
    background-color: #fff;
}

#wrapper {
    background: #fff;
}

#content {
    padding: 20px;
    margin: 0;
    background: #fff;
    width: 672px;
    float: left;
    background-image: url(../images/content-fade.gif);
    background-repeat: no-repeat;
    background-position: right top;
}

#footer {
    font-size: 10px;
    background: @brand_color;
    padding: 10px;
    color: #ddd;
    a, a:visited {
        color: #ddd;
    }
}