#page {
    width: 950px;
    margin: auto;
    padding: 0px;
}

#content {
    padding: 20px;
    background: #fff;
    margin: 0px;
    float: left;
    width: 660px;
    
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
}