#side-panel {
    width: 210px;
    float: right;
    background: #fff;
    margin: 10px;
    padding: 10px;
    border: solid 1px #ccc;
    background: #efefef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}