<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    
    <component id="generic-repository" 
               service="AndyPike.Castlecasts.IntroToWindsor.UsingWindsor.IRepository`1, AndyPike.Castlecasts.IntroToWindsor.UsingWindsor"
               type="AndyPike.Castlecasts.IntroToWindsor.UsingWindsor.NHibernateRepository`1, AndyPike.Castlecasts.IntroToWindsor.UsingWindsor"/>

  </components>
</configuration>
