#capturefor(title)
    Latest Episodes
#end
    
#foreach($episode in $episodes)
    <div class="episode">
        <div class="box">
            <div class="number">#${episode.Id}</div>
            <div class="date">$episode.CreatedAt.ToShortDateString()</div>
        </div>
        <h2>$Url.Link($x.h($episode.Title), "%{controller='Episodes', action='Show', params={episode=$episode.Id, title=$episode.SeoTitle}}")</h2>
        <p>$x.h($episode.Description)</p>
        <p>
            <div class="tags"> 
                #foreach($tag in $episode.Tags)
                    <span class="tag">$x.h($tag.Name)</span>
                #end
            </div>
        </p>
    </div>
#end

<div class="pagination">#component(DiggStylePagination with "page=$episodes")</div>