#capturefor(title)
    Latest Episodes
#end
    
#foreach($episode in $episodes)
    <div class="episode">
        <h2><em>#${episode.Id}</em> $Url.Link($episode.Title, "%{controller='Episodes', action='Show', params={episode=$episode.Id, title=$episode.SeoTitle}}")</h2>
        <p>
            <div class="user">
                <div>$gravatar.image($episode.CreatedBy.Email, "%{size='32'}")</div>
                <div>By $episode.CreatedBy.FullName</div>
                <div>On $episode.CreatedAt.ToShortDateString()</div>
            </div> 
            $episode.Description
        </p>
        <p>
            <div class="tags"> 
                #foreach($tag in $episode.Tags)
                    <span class="tag">$tag.Name</span>
                #end
            </div>
        </p>
    </div>
#end