#capturefor(title)
    $episode.Title
#end

<p>$episode.Description</p>
<p>
    $episode.MovieHTML
</p>

<h2>Links</h2>
<ul>
    #foreach($link in $episode.Links)
        <li><a href="$link.Text" target="_blank">$link.Text</a></li>
    #end
</ul>