#capturefor(title)
    #$episode.Id $episode.Title
#end

#capturefor(description)
    $episode.Description
#end

<div class="episode">
    <p>$x.h($episode.Description)</p>
    <p>$episode.MovieHTML</p>

    <h2>Further Information</h2>
    <p>$episode.InfoHTML</p>

    <h2>$episode.Comments.Count Comments</h2>
    #foreach($comment in $episode.Comments)
        <div class="comment">
            <div class="user">
                <div>$gravatar.image($comment.Email, "%{size='32'}")</div>
                <div>By $x.h($comment.Name)</div>
                <div>On $comment.CreatedAt.ToShortDateString()</div>
            </div> 
            $x.h($comment.Text)
        </div>
    #end
    
    <h2>Add a comment</h2>
    <form action="$url.for("%{controller='Comments', action='Create'}")" method="post">
        $form.hiddenField("comment.episode.id", $episode.id)
        
        <p>
            $form.labelFor("comment.Name", "Name:", "%{class='field'}")
            $form.textField("comment.Name", "%{class='required'}")
            <em>*</em>
        </p>
        <p>
            $form.labelFor("comment.Email", "Email:", "%{class='field'}")
            $form.textField("comment.Email", "%{class='email'}")
        </p>
        <p>
            $form.labelFor("comment.Text", "Your Comment:", "%{class='field'}")
            $form.textarea("comment.Text", "%{class='required'}")
            <em>*</em>
        </p>
        <p>
            $form.submit("Add Comment")
        </p>
    </form>

</div>