<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    $url.link("New Issue", "%{Controller='Issues',Action='New'}")

    #foreach($issue in $issues)
        #beforeall
        <table>
            <tr>
                <th>Id</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Project</th>
                <th></th>
            </tr>
        #each
            <tr>
                <td>$issue.Id</td>
                <td>$issue.Summary</td>
                <td>$issue.Type</td>
                <td>$issue.Project.Name</td>
                <td>$url.link("Edit", "%{Controller='Issues',Action='Edit',params={id=$issue.Id}}")</td>
            </tr>
        #afterall
            </table>
        #nodata
            <p>There are no issues to display</p>
    #end
</body>
</html>
