<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        #if(!$description)
            #set($description = "Screencasts for the various components of the popular open-source library the Castle Project.")
        #end
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="google-site-verification" content="yv6a-2LwkhlkIHWBcGQRXSqW2CTnvsMRXDIovexCPzg" />
        <meta name="description" content="$x.h($description.Trim())" />
        
        <link rel="alternate" type="application/rss+xml" title="Castlecasts Episodes RSS" href="http://feeds.feedburner.com/castlecasts" />
        <link rel="stylesheet" type="text/css" href="$siteroot/Content/less/screen.less.css?v=$version" />
				
        <script type="text/javascript" src="$siteroot/Content/js/lib/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="$siteroot/Content/js/lib/jquery-validate-1.5.5.min.js"></script>
        <script type="text/javascript" src="$siteroot/Content/js/application.js?v=$version"></script>
                
		$!head
		
		#if(!$title)
		    #set($title = "Untitled")
		#end
		
		<title>$x.h($title.Trim()) :: Castlecasts</title>
		
		<script language="javascript">	    
		    $(document).ready(function() {
		        $!script
		    });
		</script>
    </head>
    <body>
        <div id="page">
           <div id="header"></div>
           <div id="wapper" class="clearfix">
               <div id="content">
    	            <h1>$x.h($title.Trim())</h1>
        	            
    	            #if($error)
        	            <p class="flash-error">$x.h($error)</p>
        	        #end
        	    
    	            #if($notice)
        	            <p class="flash-notice">$x.h($notice)</p>
        	        #end
            	    
        	        #if($success)
        	            <p class="flash-success">$x.h($success)</p>
        	        #end
        	        	                    	        	                	
                    $childContent
    	        </div>
        	    <div id="side-panel">
        	        <h3>Feeds</h3>
	                <p><img src="/content/images/feed.png" alt="Rss" align="absmiddle" /> <a href="http://feeds.feedburner.com/castlecasts" type="application/rss+xml">Episode RSS Feed</a></p>
        	        
        	        <h3>Share</h3>
        	        <p><script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script></p>
        	        
        	        <h3>About</h3>
    	            <p>Castlecasts is a free resource of screencasts for all the components of the <a href="http://www.castleproject.org">CastleProject</a>.</p>
    	            <p>If you have a suggestion for a screencast or some feedback, <a href="http://castlecasts.uservoice.com" target="_blank">post your idea in the forum.</a></p>
	                <p>The source code for this site is also available as a sample Castle MonoRail project, <a href="http://github.com/andypike/Castlecasts/tree/master/Website/" target="_blank">take a look over at GitHub</a>.</p>
	            
	                <h3>Get in Touch</h3>
	                <p><img src="/content/images/twitter.png" alt="Twitter" align="absmiddle" /> <a href="http://twitter.com/andypike">Follow me on Twitter</a></p>
	                <p><img src="/content/images/email.png" alt="Email" align="absmiddle" /> andy[at]castlecasts.com</p>

	            </div>
    	    </div>
    	    <div id="footer">Castlecasts.com v$version. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons License</a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" align="absmiddle" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a></div>   
    	</div> 
    	
    	<script type="text/javascript">
    	    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    	    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-12543779-2");
                pageTracker._trackPageview();
            } catch (err) { }
        </script>
    	
    	<script type="text/javascript">
    	    var uservoiceOptions = {
    	        /* required */
    	        key: 'castlecasts',
    	        host: 'castlecasts.uservoice.com',
    	        forum: '44383',
    	        showTab: true,
    	        /* optional */
    	        alignment: 'left',
    	        background_color: '#6675a0',
    	        text_color: 'white',
    	        hover_color: '#06C',
    	        lang: 'en'
    	    };

    	    function _loadUserVoice() {
    	        var s = document.createElement('script');
    	        s.setAttribute('type', 'text/javascript');
    	        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
    	        document.getElementsByTagName('head')[0].appendChild(s);
    	    }
    	    _loadSuper = window.onload;
    	    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
        </script>
    </body>
</html>