#capturefor(title)
	Want your screencast here?
#end

<p>If you have been inspired to create your own Castlecast, you can now submit it to be featured here.</p>
<p>Not sure what topic to cover? Pick one from the <a href="http://castlecasts.uservoice.com">suggestions forum</a> ;o)</p>

<h2>How to create a Castlecast</h2>
<p>I use a Mac with OSX Snow Leopard, so here are my settings. There are of course alternative software for each Operating System where settings may vary.</p>
<p>The settings below are the official standards that all Castlecasts should use.</p>

<h4>When capturing with <a href="http://www.shinywhitebox.com/home/home.html">iShowU</a>:</h4>
<ul>
    <li>Capture Size: 1024x768</li>
    <li>Codec: <a href="http://en.wikipedia.org/wiki/Animation_codec">Apple Animation</a></li>
    <li>Frame rate: 24 fps</li>
    <li>Quality: High</li>
    <li>Audio: AAC, 44100 Khz, 2 channels</li>
</ul>
<h4>Then edit with iMovie:</h4>
<ul>
    <li>Add a title to the start of the cast</li>
    <li>Edit out any mistakes ;o)</li>
    <li>Adjust volume/contrast/brightness if required</li>
    <li>Export movie using QuickTime</li>
</ul>
<h4>Exporting Video:</h4>
<ul>
    <li>Compression: H.264</li>
    <li>Quality: High</li>
    <li>Frame rate: 24</li>
    <li>Key frame rate: 240</li>
    <li>Dimensions: 1024x768</li>
</ul>
<h4>Exporting Audio:</h4>
<ul>
    <li>Format: AAC</li>
    <li>Sample rate: 32000 Khz</li>
    <li>Channels: Stereo</li>
    <li>Bit rate: 80 kbps</li>
</ul>

<h4>Tips and Guidance</h4>
<p>Here is some guidance that I try to stick to. If we all use the same standards it will provide a more consistant experience for the audience.</p>
<ul>
    <li>Select a topic that hasn't been covered but builds on previous casts.</li>
    <li>Plan the points you would like to cover in advance.</li>
    <li>Set the capture area to the main editor area of Visual Studio, cropping out stuff that isn't interesting.</li>
    <li>Increase your font size (or zoom in VS2010) to ensure code is readable.</li>
    <li>Set your other VS panels to auto-hide to maximise the text editor area.</li>
    <li>Feel free to use slides if it helps but keep this to a minimum. We want to see the code!</li>
    <li>Keep casts around 15-20 minutes in length and focus on a specific topic.</li>
    <li>Balance the amount of pre-created code and coding during the cast. People don't want to spend the whole time watching you type everything.</li>
    <li>Upload your cast to <a href="http://vimeo.com/">Vimeo</a> as this provides better quality than YouTube.</li>
    <li>Make the source code available for download somewhere, I use <a href="http://www.github.com">GitHub</a>.</li>
    <li>Keep the camera on your screen, we don't really want to see your face or you standing in front of a user group. It's hard to see the code. ;o)</li>
</ul>


<h2>Submit your Castlecast</h2>
<p>Once you have completed your Castlecast and uploaded it to <a href="http://vimeo.com/">Vimeo</a>, please complete the form below. We'll review it first to ensure that the quality of the content is kept as high as possible.</p>

<form action="$url.for("%{controller='Submissions', action='Create'}")" method="post">
    <fieldset>
        <h3>About You</h3>
        <p>
            $form.labelFor("submission.Name", "Your Name:", "%{class='field'}")
            $form.textField("submission.Name", "%{class='required'}")
            <em>*</em>
        </p>
        <p>
            $form.labelFor("submission.Email", "Your Email:", "%{class='field'}")
            $form.textField("submission.Email", "%{class='required email'}")
            <em>*</em>
        </p>
    </fieldset>

    <fieldset>
        <h3>About Your Castlecast</h3>
        <p>
            $form.labelFor("submission.Title", "Title:", "%{class='field'}")
            $form.textField("submission.Title", "%{class='required'}")
            <em>*</em>
        </p>
        <p>
            $form.labelFor("submission.Description", "Description:", "%{class='field'}")
            $form.textArea("submission.Description", "%{class='required'}")
            <em>*</em>
        </p>
        <p>
            $form.labelFor("submission.MovieHTML", "Movie Embed HTML:", "%{class='field'}")
            $form.textArea("submission.MovieHTML", "%{class='required'}")
            <em>*</em>
        </p>
        <p>
            $form.labelFor("submission.ExtraInfo", "Extra Info (links to source, download binaries, related third party articles etc):", "%{class='field'}")
            $form.textArea("submission.ExtraInfo")
        </p>
    </fieldset>

    <p>
        $form.submit("Send your Castlecast")
    </p>
</form>