#capturefor(title)
	Thank You
#end

<p>Thank you very much for your submission.</p>
<p>We will review the Castlecast and will let you know when it's up on the site.</p>
<p>If you have any questions, please email andy[at]castlecasts.com.</p>